.container {
  padding: 1rem;
  border: 1px solid var(--color-border);
}

.title {
  margin-bottom: 1rem;
  font-size: var(--font-size-h4);
}

.title--light {
  color: var(--color-text-heading);
}

.title--dark {
  color: #8effdb;
}