.container {
  padding: 1rem;
  border: 1px solid var(--color-border);
  background-color: aliceblue;
  border-radius: 10px;
  }
  .container--light {
   background-color: var(--color-main-bg-l);
   border: 5px solid var(--color-text-l);
  }
  .container--dark {
    background-color: var(--color-main-bg-d);
    border: 5px solid var(--color-text-d);
  }

.title {
  margin-bottom: 1rem;
  color: var(--color-text-heading);
  font-size: var(--font-size-h3);
  font-family: "Times New Roman", Times, serif;
}

.title--light {
  color: var(--color-text-l);
}
.title--dark {
  color: var(--color-text-d);
}
