.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
}
.item--light {
  border: 5px solid #35616ae8;
}
.item--dark {
  border: 5px solid #77ede9e8;
}
.item:not(:last-child) {
  margin-bottom: 1rem;
}

.text {
  font-size: var(--font-size-p);
}
.text--light {
  color: #35616ae8;
}
.text--dark {
  color: #64c7bfe8;
}

.rating {
  color: var(--color-star);
  font-size: var(--font-size-star);
}
