.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 5px solid var(--color-border);
  border-radius: 5px;
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}

/* .item--light {
  border-color: ;
} */

.item--dark {
  border-color: #67daa8;
}
.title {
  color: var(--color-text-heading);
  font-size: var(--font-size-h5);
}
.title--light {
  margin-bottom: 1rem;
  color: var(--color-text-l);
  font-size: var(--font-size-h4);
}
.title--dark {
  margin-bottom: 1rem;
  color: var(--color-text-d);
  font-size: var(--font-size-h4);
}

.ingredients {
  font-size: var(--font-size-p);
}

.ingredients--light {
  color: var(--color-text-p);
}

.ingredients--dark {
  color: rgb(120, 221, 186);
}
