.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--color-border);
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  color: var(--color-text-heading);
  font-size: var(--font-size-h5);
}
.title--light {
  margin-bottom: 1rem;
  color: var(--color-text-l);
  font-size: var(--font-size-h4);
}
.title--dark {
  margin-bottom: 1rem;
  color: var(--color-text-d);
  font-size: var(--font-size-h4);
}

.ingredients {
  color: var(--color-text-p);
  font-size: var(--font-size-p);
}
