.container {
  padding: 1rem;
  border: 1px solid var(--color-border);
}

.title {
  margin-bottom: 1rem;
  color: var(--color-text-heading);
  font-size: var(--font-size-h4);
  font-family: "Times New Roman", Times, serif;
}
.title--light {
  margin-bottom: 1rem;
  color: var(--color-text-l);
  font-size: var(--font-size-h4);
}
.title--dark {
  margin-bottom: 1rem;
  color: var(--color-text-d);
  font-size: var(--font-size-h4);
}
